<div class="trending">
  <div class="trending-title"><h3>Whats's happening</h3></div>
  <div class="trending-content">
    <div class="trending-item">
      <p class="trending-item-title">Music</p>
      <p class="trending-item-content">Nany Ajram</p>
      <p class="trending-item-tweetsN">3.939 Tweets</p>
    </div>

    <div class="trending-item">
      <p class="trending-item-title">Music</p>
      <p class="trending-item-content">Nany Ajram</p>
      <p class="trending-item-tweetsN">3.939 Tweets</p>
    </div>

    <div class="trending-item">
      <p class="trending-item-title">Music</p>
      <p class="trending-item-content">Nany Ajram</p>
      <p class="trending-item-tweetsN">3.939 Tweets</p>
    </div>
  </div>
  <div class="trending-more"><p>Show more</p></div>
</div>
