<div class="main-flex">
  <div class="main-feed">
    <div class="home-bar">
      <span>Lastest Tweets</span>
      <mat-icon>home</mat-icon>
    </div>

    <div class="new-tweet">
      <img class="profileImg" src="../../../../assets/profile.jpg" alt="" />
      <div class="newtweet-details">
        <input placeholder="what's happening?" type="text" />
        <div class="newtweet-toolbar">
          <ul>
            <li><mat-icon>perm_media</mat-icon></li>
            <li><mat-icon>gif</mat-icon></li>
            <li><mat-icon>list</mat-icon></li>
            <li><mat-icon>tag_faces</mat-icon></li>
            <li><mat-icon>schedule</mat-icon></li>
            <li><mat-icon>place</mat-icon></li>
          </ul>
          <button>Tweet</button>
        </div>
      </div>
    </div>
  </div>

  <div class="side-feed"></div>
</div>
