<div class="who-follow">
  <h3 class="who-follow-title">Who to follow</h3>
  <div class="who-follow-content">
    <div class="who-follow-item">
      <img class="profileImg" src="../../../../assets/profile.jpg" alt="" />
      <div class="w-follow-profile">
        <p class="w-follow-username">yehia</p>
        <p class="w-follow-handle">@yehia</p>
      </div>
      <button>follow</button>
    </div>

    <div class="who-follow-item">
      <img class="profileImg" src="../../../../assets/profile.jpg" alt="" />
      <div class="w-follow-profile">
        <p class="w-follow-username">yehia</p>
        <p class="w-follow-handle">@yehia</p>
      </div>
      <button>follow</button>
    </div>

    <div class="who-follow-item">
      <img class="profileImg" src="../../../../assets/profile.jpg" alt="" />
      <div class="w-follow-profile">
        <p class="w-follow-username">yehia</p>
        <p class="w-follow-handle">@yehia</p>
      </div>
      <button>follow</button>
    </div>
  </div>
  <div class="who-follow-more"><p>Show more</p></div>
</div>
