
.sb-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 100vh;

}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  height: 40%;

}

.nav-item,
.btn,
.profileBtn {
  margin-left: 30%;

}

.nav-item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.nav-item:hover {
  background-color: rgb(53, 61, 61);
  width: 50%;

}


.sb-container > ul > li > span {
  margin-left: 10px;
}


.btn-tweet {
  width: 200px;
  height: 35px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-color: #1c88d2;
  border-radius: 20px;
  border: none;
  margin-bottom: 200px;

}


.profileBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}

.profileBtn:hover {
  background-color: darkgrey;
  border-radius: 25px;

}

.profileImg {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profleName {
  margin-right: 60px;

}
.profleName p {
  margin-top: 0;
}

.profleName h3 {
  margin-bottom: 0;
}
