<div class="sb-container">
  <ul class="nav-links">
    <li class="nav-item"><mat-icon>home</mat-icon><span>Home</span></li>
    <li class="nav-item"><mat-icon>explore</mat-icon> <span>Explore</span></li>
    <li class="nav-item">
      <mat-icon>add_alert</mat-icon> <span>Notifications</span>
    </li>
    <li class="nav-item">
      <mat-icon> mail_outline</mat-icon> <span> Messages </span>
    </li>
    <li class="nav-item">
      <mat-icon>bookmark_border</mat-icon> <span>Bookmarks</span>
    </li>
    <li class="nav-item"><mat-icon> list_alt</mat-icon> <span>Lists</span></li>
    <li class="nav-item"><mat-icon>person</mat-icon> <span>Profile</span></li>
    <li class="nav-item"><mat-icon>more_horiz</mat-icon> <span>More</span></li>
  </ul>
  <div class="btn"><button>Tweet</button></div>
  <div class="profileBtn">
    <img class="profileImg" src="../../../../assets/profile.jpg" alt="" />
    <div class="profleName">
      <h3>Yehia</h3>
      <p>@yehia</p>
    </div>
    <mat-icon class="profileBtnMore">more_horiz</mat-icon>
  </div>
</div>
