<div class="sb-container">
  <ul>
    <li><mat-icon>home</mat-icon><span>Home</span></li>
    <li><mat-icon>explore</mat-icon> <span>Explore</span></li>
    <li><mat-icon>add_alert</mat-icon> <span>Notifications</span></li>
    <li><mat-icon> mail_outline</mat-icon> <span> Messages </span></li>
    <li><mat-icon>bookmark_border</mat-icon> <span>Bookmarks</span></li>
    <li><mat-icon> list_alt</mat-icon> <span>Lists</span></li>
    <li><mat-icon>person</mat-icon> <span>Profile</span></li>
    <li><mat-icon>more_horiz</mat-icon> <span>More</span></li>
  </ul>
</div>
