
.sb-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 100vh;

}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  height: 50%;

}

.nav-item,
.btn,
.profileBtn {
  margin-left: 30%;

}
.nav-item {
  display: flex;
  flex-direction: row;
}
.sb-container > ul > li > span {
  margin-left: 10px;
}


.profileBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn {

}

.profileBtnMore {
}

.profileImg {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
