.tweet {
  display: flex;
  flex-direction: row;
  color: #fff;
  border-bottom: 1px solid rgb(47, 51, 54);
}


.tweet img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  margin-top: 5px;
}

.tweet-details {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.tweet-details ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.tweet-details ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(47, 51, 54);
  font-weight: bolder;
  cursor: pointer;
}

.tweet-details ul li mat-icon{
  color: darkgrey;
  margin-right: 5px;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.tweet-header mat-icon {
  margin-right: 15px;
  color: rgb(47, 51, 54);
  cursor: pointer;

}

.tweet-author {
  display: flex;
  margin-left: 10px;
}

.tweet-author-handle {
  margin-left: 10px;
  color: darkgrey;

}

.tweetTime {
  margin-left: 10px;
  color: darkgrey;
}
