<div class="tweet" *ngIf="tweet" (click)="goToTweet(tweet.id)">
  <img src="{{ tweet.user.profile_image_url }}" alt="" />
  <div class="tweet-details">
    <div class="tweet-header">
      <div class="tweet-author">
        <p class="tweet-author-usernam">{{ tweet.user.name }}</p>
        <p class="tweet-author-handle">@{{ tweet.user.username }}</p>
        <p class="tweetTime">{{ tweet.time }}</p>
      </div>
      <mat-icon class="profileBtnMore">more_horiz</mat-icon>
    </div>
    <p class="tweet-body">{{ tweet.text }}</p>
    <ul>
      <li><mat-icon> chat_bubble_outline</mat-icon>{{ tweet.reply_count }}</li>
      <li><mat-icon>share</mat-icon>{{ tweet.retweet_count }}</li>
      <li><mat-icon>thumb_up</mat-icon>{{ tweet.like_count }}</li>
      <li><mat-icon>bookmark</mat-icon></li>
    </ul>
  </div>
</div>
