<div class="tweet">
  <img src="{{ tweet?.profileImg }}" alt="" />
  <div class="tweet-details">
    <div class="tweet-author">
      <p class="tweet-author-usernam">{{ tweet?.username }}</p>
      <p class="tweet-author-handle">{{ tweet?.handle }}</p>
      <p class="tweetTime">{{ tweet?.time }} m</p>
    </div>
    <p class="tweet-body">{{ tweet?.text }}</p>
    <ul>
      <li><mat-icon> chat_bubble_outline</mat-icon></li>
      <li><mat-icon>share</mat-icon></li>
      <li><mat-icon>thumb_up</mat-icon></li>
      <li><mat-icon>collections_bookmark</mat-icon></li>
    </ul>
  </div>
</div>
