<div class="tweet">
  <img src="{{ tweet?.user?.profile_image_url }}" alt="" />
  <div class="tweet-details">
    <div class="tweet-author">
      <p class="tweet-author-usernam">{{ tweet?.user?.username }}</p>
      <p class="tweet-author-handle">{{ tweet?.user?.handle }}</p>
      <p class="tweetTime">{{ tweet?.time }} m</p>
    </div>
    <p class="tweet-body">{{ tweet?.text }}</p>
    <ul>
      <li><mat-icon> chat_bubble_outline</mat-icon>{{ tweet?.reply_count }}</li>
      <li><mat-icon>share</mat-icon>{{ tweet?.retweet_count }}</li>
      <li><mat-icon>thumb_up</mat-icon>{{ tweet?.like_count }}</li>
      <a href="/singletweet/{{ tweet?.id }}"
        ><li><mat-icon>collections_bookmark</mat-icon></li></a
      >
    </ul>
  </div>
</div>
