<header>
  <div class="nav-links">
    <a class="theChild"><mat-icon>flutter_dash</mat-icon></a>
    <a><mat-icon>home</mat-icon><span>Home</span></a>
    <a><mat-icon>explore</mat-icon> <span>Explore</span></a>
    <a><mat-icon>add_alert</mat-icon> <span>Notifications</span></a>
    <a><mat-icon> mail_outline</mat-icon> <span> Messages </span></a>
    <a><mat-icon>bookmark_border</mat-icon> <span>Bookmarks</span></a>
    <a><mat-icon> list_alt</mat-icon> <span>Lists</span></a>
    <a><mat-icon>person</mat-icon> <span>Profile</span></a>
    <a><mat-icon>more_horiz</mat-icon> <span>More</span></a>
    <div><button class="btn-tweet">Tweet</button></div>
  </div>

  <div class="main-account">
    <a href="">
      <img class="tweet-img" src="../../../../assets/profile.jpg" alt="" />
      <div class="account-details">
        <span class="account-name">Yehia Gamal</span>
        <span class="account-handle">@yehia</span>
      </div>
      <i><mat-icon class="profileBtnMore">more_horiz</mat-icon></i>
    </a>
  </div>
</header>
